In [7]:
import pandas as pd
import plotly.express as px
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import datetime
import time

## Finding, Recording and Plotting the ISS's trajectory
##### This Jupyter Notebook file serves for data collection and visualisation. First, we request the current position of the ISS using an API and plot it onto a map. In a second step the route the ISS takes over Earth is respeatedly recorded by a 60 seconds interval. The data is saved to a csv-file and also plotted.

In [13]:
# Reading in json data from API
url = 'http://api.open-notify.org/iss-now.json'
currentposition_df = pd.read_json(url)

In [14]:
# Wranging the data into the needed format
currentposition_df['latitude'] = currentposition_df.loc['latitude', 'iss_position']
currentposition_df['longitude'] = currentposition_df.loc['longitude', 'iss_position']
currentposition_df.reset_index(inplace=True)
currentposition_df = currentposition_df.drop(['index', 'message', 'iss_position'], axis = 1)
currentposition_df.drop_duplicates(subset=['latitude', 'longitude'], inplace=True)
currentposition_df

            timestamp  latitude  longitude
0 2022-04-11 22:49:20  -46.7693    64.7927

In [19]:
# Plotting the ISS's current position
import plotly.io as pio
pio.renderers.default='iframe'

fig = px.scatter_geo(currentposition_df, lat='latitude', lon='longitude')
fig.show()

In [11]:
# Recording the trajectory using a loop
record_data = True # needs to be manually switched on (True)
if record_data == True:
    starttime=time.time() # starting a timer (new position will be added every 60 seconds)
    space_station_data_df = pd.DataFrame(columns=['timestamp',	'latitude',	'longitude']) # creating an empty df for our observations (though a list would be more efficient)

    while len(space_station_data_df) <= 90: # as long as we haven't recorded 90 instances, do this loop
        url = 'http://api.open-notify.org/iss-now.json'
        furtherposition_df = pd.read_json(url)
        furtherposition_df['latitude'] = furtherposition_df.loc['latitude', 'iss_position']
        furtherposition_df['longitude'] = furtherposition_df.loc['longitude', 'iss_position']
        furtherposition_df.reset_index(inplace=True)
        furtherposition_df = furtherposition_df.drop(['index', 'message', 'iss_position'], axis = 1)
        furtherposition_df.drop_duplicates(subset=['latitude', 'longitude'], inplace=True)

        space_station_data_df = pd.concat([space_station_data_df, furtherposition_df]) # add newest obversation to the previous ones
        print(space_station_data_df.iloc[-1]) # print last line to make the process visible

        time.sleep(60.0 - ((time.time() - starttime) % 60.0)) # adding a 60 seconds break before entering the while loop anew

timestamp    2022-04-11 20:59:33
latitude                 -34.413
longitude                 2.9362
Name: 0, dtype: object
timestamp    2022-04-11 21:00:33
latitude                -36.9134
longitude                 6.3313
Name: 0, dtype: object
timestamp    2022-04-11 21:01:33
latitude                -39.2942
longitude                 9.9669
Name: 0, dtype: object
timestamp    2022-04-11 21:02:33
latitude                -41.5185
longitude                13.8343
Name: 0, dtype: object
timestamp    2022-04-11 21:03:33
latitude                -43.6022
longitude                  18.02
Name: 0, dtype: object
timestamp    2022-04-11 21:04:33
latitude                -45.5019
longitude                22.5093
Name: 0, dtype: object
timestamp    2022-04-11 21:05:33
latitude                -47.1921
longitude                27.3108
Name: 0, dtype: object
timestamp    2022-04-11 21:06:33
latitude                 -48.646
longitude                32.4209
Name: 0, dtype: object
timestamp    2022-04-11 21:07:33
latitude                -49.8281
longitude                37.7729
Name: 0, dtype: object
timestamp    2022-04-11 21:08:33
latitude                -50.7338
longitude                43.4196
Name: 0, dtype: object
timestamp    2022-04-11 21:09:33
latitude                -51.3313
longitude                49.2584
Name: 0, dtype: object
timestamp    2022-04-11 21:10:33
latitude                -51.6057
longitude                55.2144
Name: 0, dtype: object
timestamp    2022-04-11 21:11:33
latitude                -51.5519
longitude                61.1506
Name: 0, dtype: object
timestamp    2022-04-11 21:12:33
latitude                  -51.17
longitude                67.0791
Name: 0, dtype: object
timestamp    2022-04-11 21:13:32
latitude                -50.4832
longitude                72.7696
Name: 0, dtype: object
timestamp    2022-04-11 21:14:32
latitude                -49.4848
longitude                78.3455
Name: 0, dtype: object
timestamp    2022-04-11 21:15:32
latitude                 -48.206
longitude                83.6575
Name: 0, dtype: object
timestamp    2022-04-11 21:16:32
latitude                -46.6859
longitude                88.6323
Name: 0, dtype: object
timestamp    2022-04-11 21:17:32
latitude                -44.9256
longitude                93.3395
Name: 0, dtype: object
timestamp    2022-04-11 21:18:32
latitude                -42.9635
longitude                97.7357
Name: 0, dtype: object
timestamp    2022-04-11 21:19:32
latitude                -40.8432
longitude               101.7999
Name: 0, dtype: object
timestamp    2022-04-11 21:20:32
latitude                -38.5523
longitude               105.6186
Name: 0, dtype: object
timestamp    2022-04-11 21:21:32
latitude                -36.1287
longitude               109.1794
Name: 0, dtype: object
timestamp    2022-04-11 21:22:32
latitude                -33.5909
longitude               112.5072
Name: 0, dtype: object
timestamp    2022-04-11 21:23:32
latitude                -30.9557
longitude               115.6266
Name: 0, dtype: object
timestamp    2022-04-11 21:24:32
latitude                -28.2598
longitude                118.539
Name: 0, dtype: object
timestamp    2022-04-11 21:25:32
latitude                -25.4708
longitude               121.3163
Name: 0, dtype: object
timestamp    2022-04-11 21:26:32
latitude                -22.6224
longitude               123.9547
Name: 0, dtype: object
timestamp    2022-04-11 21:27:32
latitude                -19.7235
longitude               126.4752
Name: 0, dtype: object
timestamp    2022-04-11 21:28:32
latitude                -16.8079
longitude               128.8765
Name: 0, dtype: object
timestamp    2022-04-11 21:29:32
latitude                -13.8339
longitude               131.2166
Name: 0, dtype: object
timestamp    2022-04-11 21:30:32
latitude                -10.8329
longitude               133.4912
Name: 0, dtype: object
timestamp    2022-04-11 21:31:32
latitude                 -7.8366
longitude               135.6974
Name: 0, dtype: object
timestamp    2022-04-11 21:32:32
latitude                 -4.8005
longitude               137.8868
Name: 0, dtype: object
timestamp    2022-04-11 21:33:32
latitude                 -1.7552
longitude               140.0549
Name: 0, dtype: object
timestamp    2022-04-11 21:34:32
latitude                  1.2937
longitude               142.2156
Name: 0, dtype: object
timestamp    2022-04-11 21:35:32
latitude                  4.3154
longitude               144.3642
Name: 0, dtype: object
timestamp    2022-04-11 21:36:32
latitude                   7.355
longitude               146.5506
Name: 0, dtype: object
timestamp    2022-04-11 21:37:32
latitude                 10.3821
longitude               148.7713
Name: 0, dtype: object
timestamp    2022-04-11 21:38:32
latitude                 13.3899
longitude               151.0403
Name: 0, dtype: object
timestamp    2022-04-11 21:39:32
latitude                 16.3483
longitude                153.354
Name: 0, dtype: object
timestamp    2022-04-11 21:40:32
latitude                 19.3012
longitude               155.7685
Name: 0, dtype: object
timestamp    2022-04-11 21:41:32
latitude                 22.2119
longitude               158.2787
Name: 0, dtype: object
timestamp    2022-04-11 21:42:32
latitude                  25.074
longitude               160.9051
Name: 0, dtype: object
timestamp    2022-04-11 21:43:32
latitude                 27.8546
longitude               163.6444
Name: 0, dtype: object
timestamp    2022-04-11 21:44:32
latitude                 30.5899
longitude               166.5643
Name: 0, dtype: object
timestamp    2022-04-11 21:45:32
latitude                 33.2438
longitude               169.6661
Name: 0, dtype: object
timestamp    2022-04-11 21:46:32
latitude                 35.8021
longitude               172.9741
Name: 0, dtype: object
timestamp    2022-04-11 21:47:32
latitude                 38.2286
longitude               176.4836
Name: 0, dtype: object
timestamp    2022-04-11 21:48:32
latitude                 40.5458
longitude              -179.7213
Name: 0, dtype: object
timestamp    2022-04-11 21:49:32
latitude                 42.7118
longitude              -175.6458
Name: 0, dtype: object
timestamp    2022-04-11 21:50:32
latitude                 44.7033
longitude              -171.2702
Name: 0, dtype: object
timestamp    2022-04-11 21:51:32
latitude                  46.481
longitude               -166.622
Name: 0, dtype: object
timestamp    2022-04-11 21:52:32
latitude                 48.0476
longitude              -161.6225
Name: 0, dtype: object
timestamp    2022-04-11 21:53:32
latitude                 49.3605
longitude               -156.321
Name: 0, dtype: object
timestamp    2022-04-11 21:54:32
latitude                 50.3935
longitude              -150.7486
Name: 0, dtype: object
timestamp    2022-04-11 21:55:32
latitude                 51.1189
longitude              -145.0053
Name: 0, dtype: object
timestamp    2022-04-11 21:56:32
latitude                 51.5314
longitude              -139.0639
Name: 0, dtype: object
timestamp    2022-04-11 21:57:32
latitude                 51.6131
longitude              -133.0552
Name: 0, dtype: object
timestamp    2022-04-11 21:58:32
latitude                 51.3619
longitude              -127.0703
Name: 0, dtype: object
timestamp    2022-04-11 21:59:32
latitude                 50.7907
longitude              -121.2461
Name: 0, dtype: object
timestamp    2022-04-11 22:00:32
latitude                  49.904
longitude                -115.56
Name: 0, dtype: object
timestamp    2022-04-11 22:01:32
latitude                  48.726
longitude               -110.123
Name: 0, dtype: object
timestamp    2022-04-11 22:02:32
latitude                 47.2815
longitude              -104.9756
Name: 0, dtype: object
timestamp    2022-04-11 22:03:32
latitude                 45.6124
longitude              -100.1772
Name: 0, dtype: object
timestamp    2022-04-11 22:04:32
latitude                 43.7178
longitude               -95.6527
Name: 0, dtype: object
timestamp    2022-04-11 22:05:32
latitude                 41.6369
longitude               -91.4352
Name: 0, dtype: object
timestamp    2022-04-11 22:06:32
latitude                 39.3938
longitude                -87.508
Name: 0, dtype: object
timestamp    2022-04-11 22:07:32
latitude                 37.0309
longitude               -83.8787
Name: 0, dtype: object
timestamp    2022-04-11 22:08:32
latitude                 34.5286
longitude               -80.4624
Name: 0, dtype: object
timestamp    2022-04-11 22:09:32
latitude                 31.9233
longitude                -77.265
Name: 0, dtype: object
timestamp    2022-04-11 22:10:32
latitude                   29.23
longitude               -74.2611
Name: 0, dtype: object
timestamp    2022-04-11 22:11:32
latitude                 26.4851
longitude               -71.4496
Name: 0, dtype: object
timestamp    2022-04-11 22:12:32
latitude                 23.6551
longitude               -68.7617
Name: 0, dtype: object
timestamp    2022-04-11 22:13:32
latitude                 20.7722
longitude               -66.1999
Name: 0, dtype: object
timestamp    2022-04-11 22:14:32
latitude                  17.846
longitude               -63.7452
Name: 0, dtype: object
timestamp    2022-04-11 22:15:32
latitude                 14.9089
longitude               -61.3984
Name: 0, dtype: object
timestamp    2022-04-11 22:16:32
latitude                 11.9184
longitude               -59.1034
Name: 0, dtype: object
timestamp    2022-04-11 22:17:32
latitude                  8.9056
longitude               -56.8642
Name: 0, dtype: object
timestamp    2022-04-11 22:18:32
latitude                  5.9023
longitude               -54.6845
Name: 0, dtype: object
timestamp    2022-04-11 22:19:32
latitude                  2.8634
longitude               -52.5133
Name: 0, dtype: object
timestamp    2022-04-11 22:20:32
latitude                 -0.1807
longitude               -50.3549
Name: 0, dtype: object
timestamp    2022-04-11 22:21:32
latitude                  -3.224
longitude                -48.196
Name: 0, dtype: object
timestamp    2022-04-11 22:22:32
latitude                 -6.2364
longitude               -46.0408
Name: 0, dtype: object
timestamp    2022-04-11 22:23:32
latitude                 -9.2617
longitude               -43.8403
Name: 0, dtype: object
timestamp    2022-04-11 22:24:32
latitude                -12.2699
longitude               -41.5973
Name: 0, dtype: object
timestamp    2022-04-11 22:25:32
latitude                -15.2545
longitude               -39.2972
Name: 0, dtype: object
timestamp    2022-04-11 22:26:32
latitude                -18.1845
longitude               -36.9443
Name: 0, dtype: object
timestamp    2022-04-11 22:27:32
latitude                -21.1021
longitude               -34.4821
Name: 0, dtype: object
timestamp    2022-04-11 22:28:32
latitude                -23.9745
longitude                -31.912
Name: 0, dtype: object
timestamp    2022-04-11 22:29:32
latitude                -26.7922
longitude                -29.215
Name: 0, dtype: object

In [12]:
# saving df to file after the process of collecting data has finished
space_station_data_df.to_csv('ISS_locations.csv', index=None)